@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

a,
button,
div,
input,
label,
select,
span,
strong,
textarea {
	outline: 0;
}
